.container{
    margin-top: 10rem;
    border: 1px solid gray;
    width: 20rem;
    height: 15rem;
  
    padding: 2rem;
    background-color:rgb(33, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;

}

.counter{
    font-size:xxx-large;
    color: white;
    margin-bottom: 1rem;
}

.btn button{
    margin: 10px;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(157, 42, 4);
    color:  white;
}

.toggle{
    margin:10px;
    
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
    background-color:white;
    color:  black;
    border: 1px solid gray;
}

